.config/chromium
.config/coq
.config/dconf
.config/fcitx*
.config/go
.config/htop
.config/hyfetch*
.config/ibus
.config/neofetch
.config/pulse
.config/QQ
.config/systemd

*.bak

.emacs.d/custom.el
.emacs.d/eln-cache
.emacs.d/elpa
.emacs.d/ido.last
.emacs.d/undo-session
