.config/chromium
.config/coq
.config/dconf
.config/fcitx*
.config/go
.config/htop
.config/hyfetch*
.config/ibus
.config/neofetch
.config/pulse
.config/QQ
.config/systemd

*.bak

.emacs.d/*
.emacs.d/**/*
!.emacs.d/init.el
